body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

button {
  display: block;
  margin: 10px;
  padding: 20px;
}

#quiz-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#score-container {
  text-align: center;
  margin-top: 20px;
}
